.divForm{
    display: flex;
    flex-direction: column;
    height: 700px;
}

form{
    width: 400px;
    height: 300px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    padding-top: 15px;
    flex-direction: column;
    border: 1px solid #FD2D01;
    border-radius: 25px;
}

/*********** Logo************** */
.divLogo{
    display: flex;
    justify-content: center;
}
.divLogo img{
    width: 250px;
    height:200px
}

.divBienvenue h1{
    text-align: center;
    color : #4E5166;
}

.divField
{
    color: #4E5166;
    margin: 15px;
    display: flex;
    justify-content: space-between;
}
.divField input{
    width: 280px;
}
.divBtn{
    margin-top: 15px;
    text-align: center;
}
.divBtn button{
    color: white;
    background-color:#FD2D01;
    width: 150px;
    height: 45px;
    border-radius: 15px;
    border:1px solid #ffd7d7;
}

form p{
    margin-top: 25px;
    text-align: center;
    color: red;
}