.divButton{
    margin-top: 15px;
    text-align:center;
}
.divButton button{
    color: white;
    background-color:#FD2D01;
    width: 150px;
    height: 45px;
    border-radius: 15px;
    border:1px solid #ffd7d7;
    font-size: 18px;
}