.form{
    margin-bottom: 350px;
    height: 850px;
}

.image{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 350px;
}

.divLike{

    margin-top: 50px;
    display: flex;
    justify-content:center;   
}
.divBouttons{
    margin-top: 50px;
    display: flex;
    justify-content:space-between; 
}
.divBouttons button{
    color: white;
    background-color:#FD2D01;
    width: 110px;
    height: 45px;
    border-radius: 15px;
    border:1px solid #ffd7d7;
    font-size: 18px;
}

