
body {
  margin: 0;
  font-family: "Lato";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav{
  padding: 20px 0px;
  margin-top: 100px;
}


.imgPost{
  margin-top: 100px;

}

a{
  text-decoration: none;
}

.navPosts{
  margin :0px;
  border:1px solid red;
}





header{
  border-bottom: 2px solid #FD2D01;
}
header img{
  height : 230px;
  width: 230px;
}


footer{
  margin-top: 100px;
}
footer p{
  text-align: center;
}
